.project-board{
    min-height: 80vh;
    width: 100%;
    margin-top: 25px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    gap: 1%;
    justify-content:center;
    align-content: flex-start;
    background-color: antiquewhite;
}

.board-column{
    background-color: gray;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    gap:1%;
    justify-content:flex-start;
    align-content:flex-start;
    /* box-shadow: 2px 2px 5px gray; */
}

.board-column-title{
    text-transform:uppercase;
    text-align: center;
    background-color: #F9FEFE;
    width: 100%;
    min-height: 5%;
    font-weight: bold;
    font-size: 1.5rem;
}
.board-column-container{
    background-color: #FEFAF9;
    width: 100%;
    min-height: 93%;
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content:center;
    align-content:flex-start;
}

.task-card{
    width: 48%;
    min-width: 170px;
    min-height: 150px;
    height: auto;
    margin: 1%;
}
.task-card.dragging{
    opacity: .4;
}

.task-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    z-index: 2;
}

.draggable{
    background-color: azure;
}
