.project-board{
    min-height: 80vh;
    height: 80vh;
    max-height: 80vh;
    width: 100%;
    margin-top: 25px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    gap: 1%;
    justify-content:space-between;
    align-content: flex-start;
}

.board-column{
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    gap: 1%;
    justify-content:flex-start;
    align-content:flex-start;
}

.board-column-title{
    text-transform:uppercase;
    text-align: center;
    background-color: #F9FEFE;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
}
.board-column-container{
    background-color: #FEFAF9;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content:flex-start;
    align-content:flex-start;
}

.task-card{
    width: 48%;
    height: auto;
    margin: 1%;
}


.task-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    z-index: 2;
}
