@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: url(../public/images/bannerbg_1.jpg);
  background-position: center center;
  background-size: cover;
}

.banner-heading{
  margin-top: 200px;
}

.banner-btn{
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
}

.features .features-img{
  width: 50%;
  height: 25vh;
  background-image: url(../public/images/featuresbg.jpg);
  background-position: center;
  background-size: cover;
}

.user-account-btn{
  width: 120px;
}

.navbar{
  z-index: 1;
}

